/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #90323D;
	text-align: center;
	line-height: 1.4em;
}

.heading {
	background-color: #90323D;
	color: white;
	text-align: center;
	padding: 5em 5em 0 5em;
}

.container {
	padding: 1em;
	margin-top: 40px;
	background-color: #D9CAB3;
	border-radius: 10px;
}

h3 {
  margin-top: 30px;
}

.footer {
	margin-top: 40px;
}

.user-stories {
  position: relative;
  text-align: justify;
  max-width: 700px;
  margin: 15px auto;
}
code {
  font-family: monospace;
  padding: 2px;
  color: white;
  background-color: #8C7A6B;
}
ol {
	list-style-position: outside;
}
ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}
.user-stories li {
  margin-bottom: 1em;
}

a,
a:hover {
	color: white;
	text-decoration: none;
}

.footer {
	background-color: #90323D;
	padding: 2em;
}